@mixin nav{
    nav{
        padding-left: 0!important;
        padding-right: 0!important;  

        .fas {
            font-size: 1.75em;
        }
        .badge {
            padding-left: 9px;
            padding-right: 9px;
            -webkit-border-radius: 9px;
            -moz-border-radius: 9px;
            border-radius: 9px;
        }
        
        .label-warning[href],
        .badge-warning[href] {
            background-color: $second-color;
        }
        #lblCartCount {
            font-size: 12px;
            background: $first-color;
            color: $fourth-color;
            padding: 0 5px;
            vertical-align: top;
            margin-left: -10px; 
        }
    }    
}

@mixin list-product {
    .category{
        display: flex;
        align-items: center;
        h3{
            width: 100%;
        }
    }
    .line{
        height: 2px;
        width: 100%;
        &:first-child{
            margin-right: 10px;
        }
        &:last-child{
            margin-left: 10px;
        }
    }
    .product-image{
        max-height: 250px;
        width: 100%;
        object-fit: contain;
    }
    .stars{
        margin: .6rem 0 1rem;
    }
    .fas.fa-star{
        font-size: .9em;
        margin: 1px;
    }
    .quantity{
        margin-bottom: .4rem;
    }
    .card-footer{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding: 8px;
        small{
            color: $third-color!important;
            padding-right: 1rem!important;
        }
    }
    .trolley{
        display: flex;
        flex-direction: row;
        align-items: center;
        height: 100%;
    }
    .trolley-quantity{
        border: 1px solid $third-color;
        background-color: $fourth-color;
        position: relative;
        .fas{
            font-size: 1.2rem;
            position: absolute;
            z-index: 2;
            &:hover{
                color: darken($third-color, 20%);                
            }
            &:active{
                color: $second-color;
            }
        }
        .plus{
            top: 1px;
            right: 3px;
        }
        .minus{
            bottom: 1px;
            right: 3px;
        }
        &:after{
            content: '';
            background-color: $third-color;
            width:.8px;
            height: 41px;
            position: absolute;
            top: -1px;
            right: 23px;
        }
    }
    .trolley-number{
        background-color: $fourth-color;
        color: $second-color;
        border: none;
        padding: 9px;
        height: 100%;
        width: 45px;
        margin-right: 24px;
        text-align: center;
        line-height: 0rem;
        &::-webkit-inner-spin-button, 
        &::-webkit-outer-spin-button { 
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            margin: 0;
        }
        &:focus{
            outline: none;
        }
    }
    .trolley-icon{
        background-color: $second-color;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        &:hover{
            background-color: darken($third-color, 10%);         
        }
        &:active{
            background-color: $third-color; 
        }
        .fa-shopping-cart{            
            color: $fourth-color;
            font-size: 1rem; 
            padding: 12.7px;
        }
    }
}

@mixin trolley{
    h2{
        width: 100%;
    }
    .trolley-wrapper{
        margin: 50px 0;
        padding: 30px;
        img{
            max-width: 300px;
        }
        .trolley{
            margin: 20px;
            height: 37px;
            width: min-content;
        }
        .trolley-add{            
            border-right: 1px solid $third-color;
        }
    }
    .trolley-products, .trolley-tot{
        border-radius: 5px;
    }
    .trolley-align{
        display: flex;
        align-items: center;
    }
    .trolley-tot{
        padding: 15px;   
    }
}