@mixin list-product {
    .category{
        display: flex;
        align-items: center;
        h3{
            width: 100%;
        }
    }
    .line{
        height: 2px;
        width: 100%;
        &:first-child{
            margin-right: 10px;
        }
        &:last-child{
            margin-left: 10px;
        }
    }
    .product-image{
        max-height: 250px;
        width: 100%;
        object-fit: contain;
    }
    .reviews{
        margin: .6rem 0 1rem;
        display: block;
    }
    .fas{
        font-size: .9em !important;
        margin: 1px;
    }
    .quantity{
        margin-bottom: .4rem;
    }
    .card-footer{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        small{
            max-width: 75px;
        }
    }
}