html {
    padding: 0;
    margin: 0;
}
body {
    margin: 0;
    padding: 0;
}
.first-color{
    color:$first-color;
}
.second-color{
    color:$second-color;
}
.third-color{
    color:$third-color;
}
.fourth-color{
    color:$fourth-color;
}
.fifth-color{
    color:$fifth-color;
}